.navbar-custom .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: rgba(46, 46, 46, 1);
}

/* Increase the font size for navbar dropdown items */
.navbar-custom .dropdown-item {
  font-size: 1.1rem;
  color: rgba(46, 46, 46, 1);
}

.App{
  background-image: linear-gradient(to right, #213a5c, #0e2038, #213a5c);
}